button {
	background-color: transparent; 
	color: white; 
	outline: none; 
	border: none;
}
div div{
	background-color: white;
	width: 150px;
	height: 50px;
	text-align: center;
}
table{
	padding: 3px;
	background-color: white;
	width: 33%;
	margin-left: 33%;
	border: 1px;
}
div div button{
	color: #002266;
	margin-top: 10%;
}
th{
	width: 50%;
	color: #002266;
}
td{
	color: #002266;
	text-align: center;
}
tr td button{
	background-color: transparent; 
	color: #002266; 
	outline: none; 
	border: none;
}